#icons{
    float: right;
    padding-right: 5%;
    padding-top: 45px;
}

#icons li{
    display: inline;
    margin-left: 40px;
}

.navbar{
    height: 120px;
    background-color: #262626;
    border-color: #262626;
    box-shadow: 0 1px 5px 0;
    margin: 0;
}

#wildDays{
  background-color: rgb(170, 170, 170);
  margin: 0;
  height: 45px;
}

h1{
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  padding-left: 46%;
  margin: 0;
  padding-top: 10px;

}

.nav{
    float: left;
	width: 600px;
	padding-top: 35px;
    padding-left: 10%;
}

.nav li{
    padding-left: 1%
}

.nav a{
    color: #FFF;
    font-weight: bold;
    font-size: 25px;

}

.nav a:hover{
    color: #ff8224
}

#logo{
    float: left;
    padding-top: 25px;
	padding-left: 5%;
}

#card{
    margin-right: 10px;
}

#loguit {
  cursor: pointer;
}

@media (max-width: 1404px)
{
  .navbar{
    height: 200px;
    background-color: #262626;
  }

  .nav{
    float: left;
    width: 600px;
    padding-top: 35px;
    padding-left: 0%;
  }


}
