<nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div id="logo">
            <a routerLink="/"><img src="assets/images/logo/logo.png" alt="logo" width="250px" height="65px;"></a>
        </div>
        <div id="icons">
            <ul>
                <li><a ><img id="card" src="assets/images/icons/user-shape.png" alt="card" width="35px" height="35px;"></a></li>
                <li><a routerLink="/shop-card"><img id="login" src="assets/images/icons/shopping-cart.png" alt="card" width="35px" height="35px;"></a></li>
            </ul>
        </div>
        <div id="collapse" class="collapse navbar-collapse">
            <ul id="nav" class="nav navbar-nav">
                <li><a class="active" routerLink="/">Home</a></li>
                <li><a routerLink="/shopping-list">Shop</a></li>
                <li><a >About us</a></li>
            </ul>
        </div>

    </div>
</nav>

