


#shopItemcontainer{
  margin-bottom: 30px;
  width: 450px;
  height: 650px;

}

#shopItemcontainer:hover{
    border-radius: 10px;
    transform: scale(1.07);
    box-shadow: 0 0 25px 0
    rgba(0, 0, 0, 0.3);
	  z-index: 50;

}
#productsimage{
  padding-top: 25px;
  margin-left: 25px;
  width: 400px;
  max-width: 400px;
  height: auto;
}

#shopItemInfo{
  padding-top: 10px;
  padding-left: 25px;


}

#shopItemName{
  font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
  word-wrap: break-word;
  white-space:pre-wrap;
}

#shopItemPrice{
  font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
}
