<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">


<div id="particles-js" class="container">

  <mat-card id="card">
    <form [formGroup]="userLoginForm">
      <div class="textfields">
          <h1>Login</h1>
          <input class="form-control" formControlName="Account_name" type="gebruiker" matInput placeholder="gebruikers naam" required>

          <input class="form-control" type="password" formControlName="Account_password" matInput placeholder="Wachtwoord">

      </div>

      <div class="button-groep">
        <button class="btn btn-success" type="submit" (click)="onLogin() ">Login</button>
      </div>
    </form>
  </mat-card>
</div>
