<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

<div  class="row">
<!--  <h1>Producten</h1>-->
<!--  <hr>-->
  <div id="cartitems">
    <app-cart-item *ngFor="let productEl of cartProducts"
                   [cartProducts]="productEl">
                   </app-cart-item>
  </div>
</div>

<div  id="cartinteractive" lass="col-xs-12">
  <p id="totaalPrijs">€ {{Totaalprijs}}</p>
  <div id="buttons">
    <button id="clear" class="btn btn-danger" type="submit" (click)="clearCart()">Clear cart</button>
    <button id="order" class="btn btn-success" type="submit" (click)="orderCart()">Order cart</button>
  </div>


</div>
