<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-shopping-list (shopItemWasSelected)="selectedShopItem = $event"></app-shopping-list> -->
<!-- <div class="col-xs-7">
    <app-item-details *ngIf="selectedShopItem; else infoText"
    [products]="selectedShopItem">
        <ng-template #infoText>
            <p>
                pleas help me
            </p>
        </ng-template>
    </app-item-details>
</div> -->
<!-- <app-shop-card></app-shop-card> -->
<!-- <app-home></app-home> -->