#container{
  width: 70%;
}

#itemcard :hover{
  transform: scale(1.07);
  box-shadow: 0 0 25px 0
  rgba(0, 0, 0, 0.3);
  z-index: 50;

}

#product{
  margin-left: 5% ;
}

#itemcard{
  margin-bottom: 30px;

}

#info{
}

h4{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: black;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: black;
}

button{
  float: right;
  margin-right: 25%;
}

hr{
  padding-bottom: 25px;
}
