body{
    width: 100%;
    margin: 0;
}




#mainimage{
padding-left: 22.5%;
  width: 1600px;

}

#mainimage img:hover{
filter: brightness(50%);
z-index: 50;

}

#imagelist{
  width: 1600px;
    padding-top: 15px;
    padding-bottom:5px ;
  padding-left: 22.5%;
}

#imagelist li{
display: inline;
padding: 0px 15px 0px 0px;

}

#imagelist img:hover{
filter: brightness(50%);
z-index: 50;

}

ul{
  padding: 0;
}


#korting{
  width: 1600px;
    padding-left: 22.5%;

}

#footer{
width: 100%;
height: 100px;
background-color: #262626;
margin-top: 50px;
}

