<body>    
    <div id="mainimage">
        <a routerLink="/shopping-list"><img src="assets/images/home/kleding_1.PNG" alt="logo" width="1032‬px" height="614,4‬px;"></a>
    </div>
    <div id="imagelist">
        <ul>
                <li><a routerLink="/shopping-list"><img src="assets/images/home/caps.PNG" alt="logo" width="247,2‬px" height="96px;"></a></li>
                <li><a routerLink="/shopping-list"><img src="assets/images/home/Hoodies.PNG" alt="logo" width="247,2‬px" height="96px;"></a></li>
                <li><a routerLink="/shopping-list"><img src="assets/images/home/schoenen.PNG" alt="logo" width="247,2‬px" height="96px;"></a></li>
                <li><a routerLink="/shopping-list"><img src="assets/images/home/t-shirts.PNG" alt="logo" width="247,2‬px" height="96px;"></a></li>
            </ul>
    </div>
    <div id="korting">
        <a routerLink="/shopping-list"><img src="assets/images/home/korting.PNG" alt="korting" width="1032px" height="614px;"></a>
    </div>
</body>
