
<div class="row">
    <div class=col-xs-12>
        <img src="" alt="" class="img-responsive">
    </div>
    <div class="col-xs-12">
        <img src="{{ products.product_path }}"  class="img-responsive" style="max-height: 350px;">
        <h4 class="list-group-item-heading">{{ products.product_name }}</h4>
        <p class="list-group-item-heading">{{ products.product_price }}</p>
        <h5 class="list-group-item-heading">{{ products.product_description }}</h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" type="submit" (click)="addVerstuurItem()">Add</button>
    </div>
</div>
